@charset "utf-8";

.btnlogin{
    position: absolute;
    top: 152px;
    left: 200px;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }

#animate {
    position: absolute;
}